{:paths ["src" "dev"]
 
 :deps {org.clojure/clojure             {:mvn/version "1.10.1"}
        org.clojure/core.async          {:mvn/version "0.6.532"}
        clj-serial                      {:mvn/version "2.0.5"}
        juxt/dirwatch                   {:mvn/version "0.2.5"}}}
